{
  "presets": ["react"],
  "plugins": ["transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": { "browsers": ["last 2 versions", "> 5%"] }
          }
        ]
      ],
      "plugins": ["transform-decorators-legacy", "transform-class-properties"]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions", "> 5%"] } }]
      ],
      "plugins": ["transform-decorators-legacy", "transform-class-properties"]
    },
    "production": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions", "> 5%"] } }]
      ],
      "plugins": ["transform-decorators-legacy", "transform-class-properties"]
    }
  }
}
